*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.list li{
    padding: 4px 10px;
}
.list a {
    text-decoration-line: none;
    color: indianred;
}
.Navbar{
    background-color: pink;
}
.mainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listNetflix {
    text-align: center;
}

.listNetflix a {
    text-decoration-line: none;
    background: pink;
    color: brown;
    padding: 4px 23px;
    border-radius: 5px;
}

.listNetflix {
    text-align: center;
    padding: 20px;
    line-height: 35px;
    width: calc(100%/4);
}
